proj4-experiment
proj4-driver
ABAGAIL
old_results
oldresults
proj4
*~
*.pkl
datasets/*.pkl
*venv/
typescript
tf/
grist/
notebooks/mlai
results.orig
results/*/*
\#\#*
lsf2nb
aside
results
.#*
*.prev/
bad*
snapshot
__pycache__
scratch
